html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: #f8f8f8;

}

body.active{
  background: #2b2b2b;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
}

h1{
  position: fixed;
}

#title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
}

h2{
  font: 16px Arial, Helvetica, sans-serif; 
  text-align: center;
}

#board {
  width: 350px;
  height: 384px;
  margin: 0 auto;
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  /*box*/
  border: 1.6px solid lightgrey;
  width: 55px;
  height: 55px;
  margin: 2.5px;

  /*text*/
  color: black;
  font-size: 33px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background-color: #6aaa64;
  color: white;
  border-color: white;
}

.present {
  background-color: #c9b458;
  color: white;
  border-color: white;
}

.absent {
  background-color: #787C7E;
  color: white;
  border-color: white;
}


.tile.active{
  border: 1.6px solid #808384;
  color: #fff;
}

.absent.active{
  background-color:#3a3a3c;
  color: white;
  border-color: #2B2B2B;
}

.correct.active{
  border-color: #2B2B2B;
}

.present.active{
  border-color: #2B2B2B;
}


#toggle{
  position: fixed;
  right: 57px;
  display: block;
  width: 69px;
  height: 33px;
  border-radius: 33px;
  background: #fff;
  transition: 0.5s;
  box-shadow: inset 0 8px 60px rgba(0,0,0,0.1), 
              inset 0 8px 8px rgba(0,0,0,0.1),
              inset 0 -4px 4px rgba(0,0,0,0.1);
}

#toggle.active{
  background: #222;
}

#toggle .indicator{
  position: absolute;
  top:0;
  left: 0;
  margin: 0 1.4px;
  display: block;
  height: 33px;
  width: 33px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0,0,0,0.5),
              inset 0 2px 2px rgba(255,255,255,0.2),
              inset 0 -2px 2px rgba(255,255,255,0.2);
  transition: 0.5s;
  cursor: pointer;
}

#toggle.active .indicator{
  left: 33px;
  background: linear-gradient(to bottom, #444, #222);
  
  box-shadow: 0 8px 40px rgba(0,0,0,0.5),
              inset 0 2px 2px rgba(255,255,255,0.2),
              inset 0 -2px 2px rgba(255,255,255,0.2);
}

#wordle.active{
  color: #fff;
}

h2.active{
  color: #fff;
}

#keyboard-container{
  height: 200px;
  margin-top: 83px;
}

#keyboard-rows{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.keyboard-row button{
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 18px;
  height: 58px;
  cursor: pointer;
  background-color: #D3D6DA;
  color: black;
  flex-grow: 1;
  margin-right: 2px;
  margin-bottom: 5px;
  border-radius: 4px;
  user-select: none;
}

.keyboard-row.active button {
  background-color: #808384;
  color: white;
}

.keyboard-row button.yellow{
  background-color: #c9b458;
  color: white;
  border-color: white;
}

.keyboard-row button.green{
  background-color: #6aaa64;
  color: white;
  border-color: white;
}

.keyboard-row button.grey{
  background-color: #787C7E;
  color: white;
  border-color: white;
}

.keyboard-row.active button.grey{
  background-color:#3a3a3c;
  color: white;
  border-color: white;
}

.keyboard-row button.wide-button{
  flex-grow: 1.5;
}

.spacer-half{
  flex-grow: 0.5;
}

#answer{
  background-color: gainsboro;
  color: #787C7E;
  font-size: 17px;
  height: fit-content;
  width: fit-content;
  margin: -282px auto;
  border-radius: 8px;
  position: relative;
}

#answer.display{
  padding: 7px 16px;
}

#answer.active{
  background-color: #808384;
  color: #fff;
}


@keyframes fade{
  0%{opacity: 1; font-size:106%}
  1%{opacity: 0; font-size:100%}
  100%{opacity: 0; font-size:100%}
}

.fade-out{
  background-color: gainsboro;
  color: #787C7E;
  font-size: 17px;
  height: fit-content;
  width: fit-content;
  margin: -34.4px auto;
  border-radius: 8px;
  position: relative;
  padding: 7px 16px;
  animation: fade 1800s;
  animation-iteration-count: infinite;
}

